<!DOCTYPE html>
<html>
  <head>
    <title>電子件用途</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" colspan="2" class="table-primary">電子件規格</th>
        </tr>
      </thead>
      <tbody>
        <% Object.keys(str).forEach(key => {
          if(key!=="Use"){  %>
        <tr>
          <th scope="row"><%= key %></th>
          <td><%= str[key] %></td>
        </tr>
      <% }  
   
      %>
      </tbody>


        <% if(key==="Use"){ %>
          <thead>
            <tr>
              <th scope="col" colspan="2" class="table-warning">電子件用途</th>
            </tr>
          </thead>
          <tbody>
            <thead>
              <tr>
                <th scope="col" class="table-success">產品名</th>
                <th scope="col" class="table-success">PCB 位置</th>
              </tr>
            </thead>
          <%
            sss=str[key] 
             Object.keys(sss).forEach(key => { 
              ssa=sss[key]
              Object.keys(ssa).forEach(key => { %>


                <tr>
                  <th scope="row"><%= key %></th>
                  <td><%= ssa[key] %></td>
                </tr>
            <% }) 
            })
          }
        })
         %>

    </table>
</div>
    <!-- <h1>電子零件規格</h1>
    <% Object.keys(str).forEach(key => {
        if(key!=="Use"){  %>
      <li><%= key %> => <%= str[key] %></li>
    <% } %>

    <% if(key==="Use"){ %>
      <h1>電子零用途</h1>
      <% sss=str[key] 
         Object.keys(sss).forEach(key => { 
          ssa=sss[key]
          Object.keys(ssa).forEach(key => { %>
          <li><%= key %> => <%= ssa[key] %></li>
    
        <% }) 
      })
    }
  })
%> -->


  </body>
</html>
