<!DOCTYPE html>
<html>
  <head>
    <title>電子件用途</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/fontawesome/css/solid.css" rel="stylesheet">

    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

<style>
  .dialog{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: .5;
  }

  .dialog-wrap{
        position:absolute;
        left: 50%;
        top: 50%;
        z-index: 999;
        padding: 20px;
        width: 600px;
        /* margin-left: -120px; */
        background: #fff;
        /* border-radius: 20px; */
        border-radius: 1rem;
        /* border-top: 5px solid transparent; */
        box-shadow: 0 .5rem .1rem rgba(0 ,0, 0 ,.1);
  	    border: .1rem solid rgba(0 ,0, 0 ,.3);
        transform: translate(-50%,-50%);
      }
      .dialog-header{
        position: relative;
      }
      .dialog-header > div{
        position: absolute;
        right: 0;
        top: 0;
      }
      form > div{
        margin: 20px 0;
      }
      .dialog-footer{
        text-align: right;
      }
      .dialog-footer button{
        padding: 6px 10px;
      }
      .isDelete{
        display: none;
      }
      .close{
        margin-top: 5px;
        color: #7d7c7c;
      }
      .close:hover{
        color: #cfa5a5;
      }

</style>  
</head>
  <body>
    <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" colspan="3" class="table-primary">電子件規格 | 修改庫存</th>
        </tr>
      </thead>
      <tbody>
        <% str1.forEach(itmes => { %> 
        <tr>
          <td>Mouser_Number</td>
          <td colspan="2"><%= str1[0].Mouser_Number %></td>
       </tr>
       <tr>
        <td>Mouser_Number</td>
        <td colspan="2"><%= str1[0].Format %></td>
      </tr>
      <tr>
        <td>Type</td>
        <td colspan="2"><%= str1[0].Type %></td>
      </tr>
      <tr>
        <td>Format</td>
        <td colspan="2"><%= str1[0].Format %></td>
      </tr>
      <tr>
        <td>Voltage</td>
        <td colspan="2"><%= str1[0].Voltage %></td>
      </tr>
      <tr>
        <td>Case_Code_in</td>
        <td colspan="2"><%= str1[0].Case_Code_in %></td>
      </tr>
      <tr>
        <td>Tolerance</td>
        <td colspan="2"><%= str1[0].Tolerance %></td>
      </tr>
      <tr>
        <td>庫存</td>
        <td colspan="2"><%= str1[0].Quantity %></td>
      </tr>
       <% })%> 
      </tbody>



          <thead>
            <tr>
              <th scope="col" colspan="3" class="table-warning">電子件用途 | <a href="/comp/creat/list/<%= str1[0].Mouser_Number %>"><i class="fa-solid fa-pen-clip"></i> 新增用途</a></th>
            </tr>
          </thead>
          <tbody>
            <thead>
              <tr>
                <th scope="col" class="table-success">產品名</th>
                <th scope="col" class="table-success">PCB 位置</th>
                <th scope="col" class="table-success">操作</th>
              </tr>
            </thead>
            <tbody>
              <% str2.forEach(itmes => { %>
              <tr>
                <td><%= itmes.name %></td>
                <td><%= itmes.setting %></td>
                <td><a href="/comp/edit/list/<%= itmes._id %>"><i class="fa-solid fa-pen"></i>編輯</a> | <a href="/comp/list/del/<%= itmes._id %>/<%= str1[0].Mouser_Number %>"><i class="fa-solid fa-x"></i>刪除</a></td>
              </tr>
              <% })%>
            </tbody>

    </table>
</div>

<!-- 刪除 -->
<div class="dialog isDelete"></div>
<div class="dialog-wrap isDelete">
  <div class="dialog-header">
    <h3>是否確刪除資料</h3>
    <div class="close glyphicon glyphicon-remove fa-solid fa-xmark  fa-2xl" id="close">
    </div>
  </div> 
     <div class="dialog-footer">
      <button class="cancel btn btn-warning" id="cancel"><i class="fa-solid fa-xmark"></i>取消</button>
      <button class="determineDel btn btn-primary"><i class="fa-solid fa-paintbrush"></i>確定</button>
     </div>
</div>
  </body>
<script>
  $(function(){
      //點刪除顯示
      $('.delete-item').click(function(){
      id = $(this).data('id');
      $('.isDelete').show();
      })
      //認認刪除
      $('.determineDel').click(function(){
        window.location.href = `/account/${id}`;
      })
      //取消
      $('#close,#cancel').click(function(){
        $('.isDelete').hide();
      })
  
      //顯示
      $('#addBtn').click(function(){
      $('.isDialog').show();
      })
      //隱藏
      $('.close,.cancel').click(function(){
        $('.isDialog').hide();
      })
  
  });
  </script>
</html>
